<div class="form-group" id=<%= form_selector(commit.id) %> >
  <%= simple_form_for commit, remote: true do |f| %>
    <%= f.input :username %>
    <%= f.hidden_field :page, value: page %>
    <%= f.button :submit, (t 'save'), name: "submit" %>
    <%= content_tag("a", t("cancel"), class: "btn btn-default", id: "cancel_btn") %>
  <% end %>
</div>
