<div class="col-xs-12" style="height:130px;"></div>
<div class="col-md-8 col-md-offset-4" id="form_container">
  <div class="form-inline form-group">
    <%= simple_form_for :search, url: url_for(action: 'search', controller: 'commits'),
                                      method: 'get' do |f| %>
      <%= f.input :email, required: true, autofocus: true, placeholder: "Committer's email",
                                          label: false %>
      <%= f.button :submit, (t :search), id: "search_btn" %>
    <% end %>
  </div>
</div>
