<div id="commits_table">
<table class="table table-hover table-striped table-condensed">
  <tr>
    <th><%= t 'commit.date' %></th>
    <th><%= t 'commit.sha' %></th>
    <th><%= t 'commit.description' %></th>
    <th><%= t 'commit.user' %></th>
    <th><%= t 'commit.edit' %></th>
  </tr>
  <% commits.each do |c| %>

  <tr id=<%= tr_selector(c.id) %> >
    <td><%= c.date %></td>
    <td><%= c.sha %></td>
    <td><%= c.description %></td>
    <td><%= c.username %></td>
    <td><%= link_to t('commit.edit'), edit_commit_path(c, page: page), remote: true %></td>
  </tr>
  <% end %>
</table>
<%= pagination(commits) %>
</div>
