var elem = "#commit_<%= commit.id %>"
var form = "#commit_form_<%= commit.id %>"
$(elem).after("<%= escape_javascript(render partial: 'edit', locals:{ commit: commit, page: page } ) %>").
  each(function(){
    $("#cancel_btn").on("click", function(){
      $(form).remove();
    })
  });
