<% if commits.any? %>
  <%= render 'search' %>
  <%= render 'table', commits: commits, page: page %>
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>
