$('#commits_table').remove()
$('#form_container').after("<%= escape_javascript(render partial: 'table', locals:{ commits: commits, page: page } ) %>")

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
<% end %>
