<!DOCTYPE html>
<html>
<head>
  <title>CommitInfo</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="col-md-6 col-md-offset-3" id="welcome">
      <h1><%= link_to t(:welcome), root_path %></h1>
      <div class="col-xs-12" style="height:30px;"></div>
      <div class="form-inline form-group">
      <%= simple_form_for :repo_path, url: url_for(action: 'fetch', controller: 'github'),
                                      method: 'post' do |f| %>
        <%= f.input :user, required: true, autofocus: true, placeholder: "User",
                                                            label: false %>
        /
        <%= f.input :repo, required: true, autofocus: true, placeholder: "Repository",
                                                            label: false %>
        <%= f.button :submit, (t :import) %>
      <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
